
	.wpcf7-form  [type="checkbox"]:not(:checked), .wpcf7-form  [type="checkbox"]:checked,
	.wpcf7-form  [type="radio"]:not(:checked), .wpcf7-form  [type="radio"]:checked {
		position: initial;
	    left: 0;
	    opacity: 1;
	}
