/* Chart tracklist
    ========================================================================== */

.qt-chart-tracklist {
	border: none;
	padding: 0;
	margin: 0;
	box-shadow: none;
	.qt-chart-track {
		list-style-type: none !important;
		padding: 0 !important;
		margin: 0 0 0.7rem 0 !important;
		border: none;
		margin-bottom: .7rem;
		.qt-chart-table {
			display: table;
		    width: 100%;
			padding: 0;
			// min-height: 170px;
			.qt-position {
				display: table-cell;
				position: relative;
				width: 100%;//// desktop: 170px 
				vertical-align: middle;
				text-align: center;
				height: 70px;
				width: 70px;
				overflow: hidden;
				img {
					width: 100%;
					height: auto;
					display: block;
				    position: relative;
				    z-index: 1;
				    opacity: 0.7;
				}
				p {
					position: absolute;
				    top: 0;
				    left: 0;
				    vertical-align: middle;
				    z-index: 2;
				    font-size: 64px;
				    line-height: 170px;
				    margin: 0;
				    width: 100%;
				    text-align: center;
				    min-height: 170px;
				    height: 70px;
					line-height: 70px;
					font-size: 24px;
				}

			}
			.qt-titles {
				display: table-cell;
				position: relative;
				vertical-align: middle;
				padding: 14px; // desktop: padding: 0 14px 0 40px;
				width: auto;
				padding: 0 8px 0 10px;
				
				h4 {
					font-size: 16px;
				}
				p { line-height: 1em; margin-top: 0;font-size: 11px; opacity: .6;}
			}
			.qt-action {
				display: table-cell;
				position: relative;
				vertical-align: middle;
				padding: 0 10px 0 4px; // desktop: padding: 0 14px 0 40px;
				text-align: center;
				width: 40px;
				/// MOBILE ONLY HERE:
				a {
				    margin: 0 auto;
				    display: block;
				    text-align: center;
				    max-width: 40px;
					float: right;
					padding: 0 10px;
					color: inherit;

					i {
						float: none;
					    margin: 0 auto;
					    line-height: 64px;
					    max-width: 100%;
					    font-size: 16px;
					}
				}
			}
		}
	}
	&.qt-chart-small {

		.qt-chart-track {
			margin-bottom: 3px !important;
			.qt-chart-table {
				.qt-position {

					height: 60px;
					width: 60px;
					 line-height: 60px;
					p {
						
					    font-size: 22px;
					    line-height: 60px;
					    min-height: 60px;
					    height: 22px;
						line-height: 60px;
					}
				}
				.qt-titles {
					padding: 0 8px 0 10px;
					h3 {
						font-size: 18px;
					}
					p { font-size: 13px;line-height: 1em; margin: 0; }
				}
				.qt-action {
					padding-right: 0;
					a.qt-btn-ghost {
						border: none;
					    max-width: 40px;

						i {
						    line-height: 64px;

						}
					}

				}
			}
		}
	}
}

.qt-short-chart-featured {
	margin-bottom: 5px;
	display:block;
}

