
.qt-comment-list {
	li {
		list-style: none;
		padding: 0;
		margin: 0;
		.qt-commentheader {
			font-weight: bold;
		}
		.qt-content {
			margin: 1rem 0;
		}
		.qt-comment-image {
			img {
				width: 100%;
				height: auto;
			}
		}
		> .children {
			padding-left: 10px;
			border-left: 1px dashed rgba(50,50,50,0.2);
			border-top: 1px dashed rgba(50,50,50,0.2);
			opacity: 0.9;
		}
		> .qt-comment-respond {
			margin-bottom: 20px;
		}
	}
	li {
		border-bottom: 2px solid rgba(50,50,50,0.2);
		margin-bottom: 2px;
	}
	> li {
		border-bottom: 3px solid rgba(50,50,50,0.2);
		margin-bottom: 4px;
	}
}


.qt-comment-respond {
	padding: 1rem;
	.comment-notes {
		font-size: 0.7rem;
		opacity: 0.5;
	}
	form {
		margin-top: 2rem;
		input[type="text"] {
		/* 	border-bottom: 2px solid rgba(0,0,0,0.3); */
		}
		textarea {
			padding: 1rem;
			border-width: 2px;
			height: 5rem;
			border-width: 1px;
		}
	}
}