.qt-section-booking {

	z-index: 11;
	.qt-booking-form {
		width: 100%;
		margin: 0 auto ;
		.qt-contacts {
			text-align: center;
			p {
				font-size: 1.7rem;
				padding: 60px 0;
				position: relative;
				margin: 0;
				&:nth-of-type(2n + 1)::after {
					background: rgba(150,150,150,0.2);
					display: block;
					content: " ";
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					transform: skewY(-10deg);
				}
			}
			span {
				position: relative;
				z-index: 2;
			}
			i.qt-bigicon {
				position: relative;
				clear: both;
				display: block;
				font-size: 30px;
				line-height: 80px;
				width: 80px;
				height: 80px;
				margin: 20px auto;
				border: 3px solid;
				text-align: center;
				z-index: 1;
			}
		}
		> div {
			padding: 30px 30px 60px 30px;
		}
		.tabs {
			height: 3.4rem;
			background: none;
			li {
				height: 3.4rem;
				h5 {
					margin: 0;
					padding: 0;
					line-height: 3.4rem;
				}
			}
		}
	}
}