.qt-event-archive-item.qt-item-layers {
	margin-bottom: 1rem;
	position: relative;
	.qt-image-cont {
		position: absolute;
	}
	.qt-overlay {
		position: relative;
		.qt-date {
			width: 100%;
			display: block;
			text-align: center;
			.qt-day {
				font-size: 4rem;
				line-height: 4rem;
				display: block;
				clear: both;
				width: 100%;
			}
			.qt-month {
				font-size: 1rem;
								display: block;

				clear: both;
				width: 100%;
			}
		}
		.qt-titles {
			padding-top: 13px;
			h3 {
				margin: 10px 0 0 0;
			}
		}
		.qt-btn {
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}

}

.qt-eventtable {
	margin: 2rem 0;
}
.qt-map {
	margin: 2rem 0;
	iframe {
		width: 100%;
	}
}

.qt-countdown-container {
	padding: 2rem 0;
	display: block;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

.qt-buylink-section {
	padding: 30px 14px;
	 text-align: center;
	 margin-top: 40px;
}

.qt-part-event-featured {
	position: relative;
	display: block;
	overflow: hidden;
	background-color: #000;
	&.qt-card {
		background-color: #000;
	}
	.qt-event-featured-content {
		position: relative;
		z-index: 2;
		top: 0;
		left: 0;
		text-align: center;
	}
	.qt-countdown-background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		display: block;
		opacity: 0.6;
		content: " ";
		&.qt-blur-bg {
			width: 140%;
			height: 140%;
			left: -20%;
			top: -20%;
		}

	}
	.qt-countdown-container {
		max-width: 800px;
	}
}

.qt-map-event {
	height: 350px;
} 