/* 06. Footer
   ========================================================================== */

.qt-footer-bottom {
	padding: 2.5rem 0;
	position: relative;
	.qt-menu-social a {
		color: #fff;
	}
	.qt-menu-footer {
		margin: 0.5rem 0 0 0;
		padding: 0;
		line-height: 1em;
		li {
			display: inline;
			line-height: 1em;
			height: 2 * $qt-font-scale;
			padding: 0 1rem 0 0;
			a {
				
				line-height: $qt-font-scale;
				i {
					font-size: $qt-font-scale;
					opacity: 1;
				}
			}
		}
	}
}
.qt-to-top {
	display: block;
	position: absolute;
	top: -20px;
    margin-left: -20px;
	width: 40px;
	height: 40px;
	left: 50%;
	transform: rotate(-45deg);
	padding: 0;
	z-index:10;
	i {
	    line-height: 40px;
	    display: block;
	    text-align: center;
	    vertical-align: middle;
	    width: 100%;
	    height: 100%;
	    transform: rotate(45deg);
    	margin-left: -1px;
	    &::before {
	    	display: inline-flex;
	    }
	}
}


.qt-footer-widgets {
	padding: 6rem 0 4rem 0;
	background: #101010;
	color: #fff;
	.qt-footer-logo {
		text-align: center;
		a {
			display: inline-block;
			margin: 0 auto;
		}
		img {
			display: block;
		}
	}
}