/* Style Placeholders */
::-webkit-input-placeholder {
  color: #ccc; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #ccc; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccc; }

:-ms-input-placeholder {
  color: #ccc; }



  input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  	//border: none;
  	padding: 5px;
  	box-sizing: border-box;
  }

select {
  display: initial;
}


form.standard-form [type="radio"]:not(:checked), 
form.standard-form [type="radio"]:checked,
form.standard-form [type="checkbox"]:not(:checked), 
form.standard-form [type="checkbox"]:checked  {
 position: relative;
 left: 0;
 opacity: 1;
}
[type="radio"], [type="checkbox"] {
  margin-right: 10px;
}