
/* 01. Generic styles
   ========================================================================== */

*,:before,:after {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-backface-visibility:hidden;
	margin: 0;
	padding: 0;
	outline: none;

}
iframe {
	width: 100%;
}

.fb-video {
  width: 100%;
  padding-top: 56%;
}
.fb-video > span,
.fb-video iframe {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
.qt-container {
	width: 90%;
	max-width: $qt-max-container-size;
	margin: 0 auto;
	clear: both;
	.row {
		margin-left: -0.75rem;
		margin-right: -0.75rem;
	}
	&::after, &::before {
		display: table;
		width: 100%;
		height: 0.1px;
		clear: both;
	}
}
.qt-main {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
}
.qt-antispam {
	display: none;
	visibility: hidden;
}
.qt-clearfix {
	&::after, &::before {
		display: block;
		width: 100%;
		clear: both;
	}
	border: none;
	clear: both;
}
.qt-body {
	position: relative;
	z-index: 300;
}
.qt-hidden {
	display: none;
}
.qt-invisible {
	opacity: 0 !important;
}
.qt-animated {
	transition: all 0.4s;
}
.row.qt-nopadding {
	.col { 
		padding: 0;
	}
	margin: 0;
}


.qt-expandable {
	height: 0;
	overflow: hidden;
}
.qt-img-responsive {
	max-width: 100%;
	height: auto;
}
.qt-rotate-90 {
	 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	  -webkit-transform: rotate(90deg);
	  -moz-transform: rotate(90deg);
	  -ms-transform: rotate(90deg);
	  -o-transform: rotate(90deg);
	  transform: rotate(90deg);
	  display: inline-block;
}

[data-bgimage] {
	background-size:cover;
	background-position: center center;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
	left: 0;
	transition:  opacity 0.8s, background-position 0.2s;
	transition-timing-function: ease-in-out;
	opacity: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;

	> img {
		display: none;
		visibility: hidden;
	}
	
}
.qt-section {
	position: relative;
	overflow: hidden;
	> .qt-container {
		position: relative;
		z-index: 2;
	}
}


.qt-blur-bg {
	filter: blur(7px);
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
}
img {
	max-width: 100%;
	height: auto;
	display: block;
}
a img {
	filter: brightness(100%);
	transition: filter 0.25s;
	will-change: filter;

}
a:hover img {
	filter: brightness(130%);
}
.row {
	margin-bottom: 0;
}
.qt-black-bg {
	background: #101010;
}

/*  Spacers ==========================================================================*/

.qt-spacer-l {
	margin-top: 2.4rem;
}
.qt-spacer-m {
	margin-top: 1.6rem;
}
.qt-spacer-s {
	margin-top: 1rem;
}
.qt-spacer-xs {
	margin-top: 0.6rem;
}
.qt-paddedcontainer {
	padding: 1.4rem;
}
hr[class^="qt-spacer"] {
	height: 0;
	border: none;
	background: transparent;
}

.qt-vertical-padding-l {
	padding: 2.4rem 0 1.8rem 0;
}
.qt-vertical-padding-m {
	padding: 1.6rem 0 1.3rem 0;
}

.qt-vertical-padding-s {
	padding: 1rem 0;
}


/*  Common items ==========================================================================*/

.qt-fullwidth {
	width: 100%;
}
.qt-card {
	box-shadow: 0 5px 0 rgba(0,0,0,0.1);
}
.qt-card-title {
	padding: 40px;
	text-align: center;
}
.qt-card-s {
	box-shadow: 0 3px 0 rgba(0,0,0,0.1);
}
.qt-vc {
	display: table;
	height: 100%;
	width: 100%;
}

.qt-vi {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}
.qt-tags {
	display: table-cell;
	width: 100%;
	vertical-align: top;

	overflow: hidden;
	float: left;
	height: 30px;
	li {
		display: inline-block;
		margin: 0 1px;
		&:first-child {
			margin-left: 0;
		}
		a {
			border-top:  4px solid;
			padding: 0 8px;
			text-transform: uppercase;
			font-size: 13px;
			display: inline-block;
			line-height: 32px;
			font-weight: bold;
		}
	}
}


.qt-masonry {
	.qt-ms-item {
		width: 100%;
	}
}


/* Google Calendar */
.qt-addtocal {
	padding: 2rem;
	h4 {
		display: inline;
		vertical-align: middle;
		line-height: 2.4em;
	}
}

/* Give donation plugin */
.give-form-wrap {
	padding: 1rem;
	.give-form-title, .give-goal-progress .income {
		color: inherit;
	}
}
form[id*=give-form] {
	.give-donation-amount #give-amount,.give-donation-amount #give-amount-text,
	#give-final-total-wrap .give-final-total-amount {
		color: #000;
	}
	.give-tooltip {
		color: inherit;
	}
	.dashicons-give:before, [class*=" give-icon-"], [class^=give-icon-] {
		top: 0;
	}
	input[type="button"] {
		    background: #EDEDED;
	    border: 1px solid #ccc;
	    color: #333;
	    padding: 8px 10px;
	    cursor: pointer;
	    line-height: 1.2em;
	    font-size: 1em;
	    text-transform: uppercase;
	}
	.give-btn {
		border: none;
		color: #fff;
	}
	
}
.give-modal .mfp-content {
	color: #000;
	ol, ul {
		margin-left: 1.4rem;
	}

}