
/* 05. header
   ========================================================================== */

.qt-pageheader {
	padding: 3rem  0;
	text-align: center;
	position: relative;
	background: #000;
	overflow: hidden;
	.qt-tags {
		display: block;
	}
	.qt-header-bg {
		// opacity: 0.5;
	}
	.qt-featuredimage {
		width: 100%;
		height: 100%;
		background: #000;
		position: absolute;
		display: inline-block;
		top: 0;
		left: 0;
		z-index: 1;
		vertical-align: middle;
		overflow: hidden;
		
		img {
			position: absolute;
			width: 100%;
			height: auto;
			margin: auto;
			top: -50%;
			bottom: -50%;
			left: 0;
			opacity: 0.7;
		}
	}
	.qt-container {
		position: relative;
		z-index: 2;
	} 
	.wp-video {
		width: 100% !important;
		padding-top: 56.3%;
		position: relative;
		.mejs-container {
			width: 100% !important;
			height: auto;
			position: absolute;
			height: 100% !important;
			top: 0;
			left: 0;
		}
	}
}