


/* 04. Menu
   ========================================================================== */
nav .button-collapse i {
	font-size: 1.4em;
}

/* Menu bar top  ============================*/
.qt-menubar-top {
	position: relative;
	z-index: 300;
	margin: 0;
	padding: 0 0.5rem;
	overflow: hidden;
	ul {

		li {
			display: inline;
			line-height: 30px;
			height: 30px;
			padding: 0 0.2rem;
			
			a {
				
				line-height: 30px;
				i {
					font-size:1em;
					opacity: 1;
				}

			}

		}
	}
}


/* Menu bar  ============================*/

.qt-menubar {
	position: relative;
	z-index: 300;
	margin: 0;
	padding: 0;
	display: table;

	ul {
		a {
			vertical-align: top;
		}
	}
	nav.qt-menubar {
		margin: 0;
		padding: 0 1rem;

		.qt-logo-text {
			position: relative;
			float: left;
			line-height: (3 * $qt-font-scale)+rem;
		}
	}
	i {
		display: inline;
		font-size: ($qt-font-scale)+rem;
		position: relative;
		top: 0.15rem;
		width: 1.4rem;
		margin: 0 10px;
	}
	.qt-menu-btn {
		a i {
			top: 0.2rem;
			height: 1em;
			line-height: 1em;
			vertical-align: text-top;
			margin-left: 5px;
			top: 0 !important;
		}
		ul a i {
			font-size: 1.3em;
    		line-height: 1em;
    		vertical-align: middle;
			vertical-align: -webkit-baseline-middle;
		}

		#qtpausebtn {
			
			a {
				padding: 0 9px 0 5px;
				i {
					margin-right: 4px;
				}
			}
		}
	}


	
}
.qt-menubar ul.qt-desktopmenu > li.current_page_item::after, 
.qt-menubar ul.qt-desktopmenu > li.current_page_item > a::after,
.qt-menubar ul.qt-desktopmenu > li.current_page_item > a::before {
	opacity: 1;
}
.qt-menu-social {
	font-size: 1.414rem * 1.414;
	line-height: 1.5em;
	li {
		margin: 0;
		padding: 0;
		list-style: none;
		display: inline;
		i {
			position: relative;
			top: 5px;
		}
	}
}

/* Mobile menu  ============================*/
.qt-side-nav {	
	li {
		display: block;
		position: relative;
		$size: 36px;
		.qt-openthis {
			float: right;
			font-size: 24px;
			transition: transform 0.2s ease;
			will-change: transform;
			position: absolute;
			right: 3px;
			top: 5px;
			z-index: 3000;
			width: $size;
			height: $size;
			line-height: $size;
			text-align: center;
			display: inline-block;
			padding: 0;
			transform: rotate(0deg);
			i {
				line-height: $size;
				vertical-align: middle;
			}
		}
		&.menu-item-has-children  { 
			&.open {
				height: auto;
				ul {
					display: block;
				}
				.qt-openthis {
					transform: rotate(180deg);
				}
			}
		}
		ul {
			display: none;
		}
	}
}
.qt-mobilemenubar {
	a {
		top: 0;
		margin: 0;
		line-height: 56px;
		height: auto;
		i {
			vertical-align: middle;
			position: initial;
			top: 0;
			&:before {
				vertical-align: middle;
			}
		}

	}
	.qt-rightbutton {
		float: right;
	}
}