.qt-pagination {
	line-height: 4rem;
	height: 4rem;
	font-size: 1.414rem;

	.qt-pagination-label {
		display: inline;
		float: left;
		padding: 0 1.4rem;
		line-height: 4rem;
		height: 4rem;
	}

	li {
		height: 4rem;
		float: left;
		&.special {
			margin: 0;
			padding: 0;

		}
		i {
			position: relative;
			top: 7px;
		}
		a {
			color: inherit;
		}		
		.qt-btn {
			border-radius: none;
			&.qt-btn-l {
				padding: 0 1.214rem;
			}
		}

		&.item {
			height: auto;
		    vertical-align: middle;
		    margin: 1rem 0 0 1rem;
		    height: 2rem;
		    line-height: 1.5rem;
			a {
				line-height: 2rem;

			}

		}
	}
}