.qt-playercontainer {
	position: relative;
	background: #000;
	overflow: hidden;
	position: relative;
	z-index: 300;
	&-ads-desktop {
		display: none;
	}
	&-ads-mobile {
		display: inine-block;
		width: 100%;
		float: right;
		height: auto;
		padding: 1.4rem;
		a {
			margin: 0;
			padding: 0;
		}
		img {
			max-width: 100%;
			haigh: auto;
			line-height: 0;
			margin: 0;
			padding: 0;
		}
	}
	.qt-header-bg {
		opacity: 0.6;
	}
	.qt-playercontainer-content {
		position: relative;
		z-index: 2;
		top: 0;
		left: 0;
		.qt-part-channels-list {
			position: relative;
			z-index: 300;
		}
		.qt-playercontainer-header {
			text-align: center;
		}
		.qt-playercontainer-musicplayer {
			padding: 0.7rem 0;
			margin: 1rem 0;
			position: relative;
		}
		.qt-playercontainer-data {
			.qt-t {
				padding: 0.7rem 0;
				min-height: 70px;
			}
			.qt-right-list {
				height:6em;
				overflow: hidden;
				overflow-y: scroll;
				.qt-track {
					i {
						margin-right: 10px;
						position: relative;
						top: 1px;
					}
					margin: 0.34rem 0;
				}
			}
		}
	}
	.qt-full-background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		display: block;
		opacity: 0.6;
		content: " ";
		&.qt-blur-bg {
			width: 140%;
			height: 140%;
			left: -20%;
			top: -20%;
		}
	}
}