.qt-nowonairmini {
	display: table;
	margin-top: 8px;
	.qt-featured {
		width: 55px;
		height: 55px;
		display: block;
		float: left;
		margin-right: 10px;
		img {
			display: block;
		}
	}
	&-cntn {
		padding: 10px 0;
	}
	&-content {
		&::after {
			content: " ";
			display: table;
			width: 100%;
			hwight: 1px;
			clear: both;
		}
		a {
			display: inline-block;
		    max-width: calc( 100% - 80px);
		    white-space: nowrap;
		    text-overflow: ellipsis;
		    overflow: hidden;
		    h4 {
		    	max-width: 100%;
			    white-space: nowrap;
			    text-overflow: ellipsis;
			    overflow: hidden;
		    }
		}
	}
	h4 {
		float: left;
	}
	h5 {
		float: left;
	}

}