.qt-radiocard {
	position: relative;
	width: 100%;
	max-width: 200px;
	background: black;
	display: block;
	margin: 5px auto;
	text-align: center;
	overflow: hidden;
	&::before {
	  content: "";
	  width: 1px;
	  margin-left: -1px;
	  float: left;
	  height: 0;
	  padding-top: 130%;
	}
	&::after { /* to clear float */
	  content: "";
	  display: table;
	  clear: both;
	}
	&__c {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: block;
		color: #fff;

	}
	&__logo {
		margin: 0 auto;
		max-width: 80%;
		max-height: 100px;
		height: auto;
	}
	&__flex-center {
		 height: 100%;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  flex-direction: column;
		 position: relative;
		 z-index: 2;
		 padding: 24px;
	}
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		filter: brightness(.3) blur(5px);
		object-fit: cover;
		transform: scale(1.5);
	}
	&__cn {
		height: 33.3%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	&__p {
		height: 66.6%;
		display: flex;
		justify-content: center;
		align-items: center;
		i {
			border: 4px solid;
			border-radius: 50%;
			display: inline-block;
			width: 60px;
			height: 60px;
			font-size: 26px;
			line-height: 58px;
			text-align: center;
			opacity: 1;
			&.dripicons-media-play::before {
				padding-left: 3px;
			}
		}
	}
	&__t {
		margin: .3em auto;
	}
	&:hover {
		img.qt-radiocard__bg {
			filter: brightness(.5) blur(5px);
		}
	}
}