.qt-sharepage{
	display: table;
	width: 100%;
	overflow: hidden;
	li { 
		font-size: ($qt-font-scale * $qt-font-scale)+rem;
		display: table-cell;
		text-align: center;
		line-height: 2em;
		a {
			position: relative;
			i {
				top: 0;
			}
			&.qt-disabled, &.qt-disabled:hover {
				color: red !important;
				background-color: #fff !important; 
				cursor: default;
			}
		}
		.qt-shareicon {
			top: 0;
		}
		a, .qt-shareicon {
			display: block;
			width: 100%;
			height: auto;
			line-height: 2em;
			padding:  8px 6px 3px 10px ;
			opacity: 1;
			&::after {
				display: none;
			}
		}
		.qt-loveit-link {
			i {
				// font-size: 54px;
				// line-height: 54px;
				top: -3px;
				position: relative;
			}
			.count {
				font-size: 12px;
				font-weight: bold;
				position: absolute;
				bottom: 10px;
				right: 50%;
				text-align: center;
				line-height: 1em;
				margin: -6px 0 0 0;
				width: 100%;
				right: 0;
				z-index: 10;
			}
		}
	}
}

