#onair2Body.qt-body {

	.qt-the-content {
		ul.products {
			margin: 0;
		}
	}
	.qt-woocommerce-container {
	
		.woocommerce-product-details{
			&__short-description {
				padding: 1.5rem 0 2.8rem 0;
			}

		}
		table {
			border: none;
			td , th {
				border-color: inherit;
			}
		}
		h2 {
			margin: 0.6em 0 0.3em 0;
		}
		.woocommerce-tabs {
			ul.tabs.wc-tabs {
				width: 100% !important;
				background: none transparent;
				border: none;
				padding: 0;
				margin: 0 0 20px 0;
				border-bottom: 1px solid #ccc;
				height: 44px;
				li {
					border-radius: 0;
					border: none; 
					height: 44px;
					line-height: 44px;
					padding: 0;
					a {
						padding: 0 1.5rem;
						display: inline-block;
					}
					&::before, &::after {
						display: none;
					}
				}
				&::before, &::after, .indicator {
					display: none;
				}
			}
		}
		#respond input#submit, a.button, button.button, input.button {
			border-radius: 0;
		}
		.quantity {
			.qty {
				height: 44px;
			}
			
		}
		.button, table.cart input {
			height: 44px !important;
			line-height: 44px !important;
			padding: 0 1rem;
		}
		ul.products {
			li.product {
				      padding: 0.5rem;
			}
		}
		table.shop_attributes {
			tr th, tr td {
				border: none;
				border-top: 1px solid;
			}
		}
		

		.qt-wc-pagination {
			margin-bottom: 90px;
			display: block;
			overflow: hidden;
			ul {
				border: none;
				display: block;
				li {
					border: none;
					padding: 0 5px 0 0;
					
					a {
						border: none;
					}
				}
			}
		}

	
		#respond input#submit,  a.button, button.button,  input.button {
			
		}

		#respond input#submit.disabled, #respond input#submit:disabled, #respond input#submit:disabled[disabled], a.button.disabled, a.button:disabled, a.button:disabled[disabled], button.button.disabled, button.button:disabled, button.button:disabled[disabled], input.button.disabled, input.button:disabled, input.button:disabled[disabled] ,
		#add_payment_method .wc-proceed-to-checkout a.checkout-button, .wc-proceed-to-checkout a.checkout-button, .wc-proceed-to-checkout a.checkout-button{
			height: 44px !important;
			line-height: 44px !important;
			padding: 0 1rem;
		}
		.select2-dropdown, .select2-results__options .select2-results__option  {
			color: #000 !important;
			background: #fff !important;
		}
		.select2-results__options {

		}
		table.cart td.actions .coupon .input-text {
		 	width: auto !important;
		}
		[type="checkbox"]:not(:checked), [type="checkbox"]:checked, [type="radio"]:not(:checked), [type="radio"]:checked {
			position: initial;
		    left: 0;
		    opacity: 1;
		}
		.woocommerce-Reviews, .wc_payment_methods {
			[type="checkbox"]:not(:checked), [type="checkbox"]:checked, [type="radio"]:not(:checked), [type="radio"]:checked {
			    position: absolute;
			    left: -9999px;
			    opacity: 0;
			}
		}
		.woocommerce-checkout-payment {
			ul {
				li {
					list-style: none;
				}
			}
		}
		ul {
			li.woocommerce-notice {
				padding-left: 50px !important;
			}
		}
		#payment {
			border-radius: 0;
		}
		label {
			font-size: 1rem;
		}
		form {
			textarea {
				padding: 1.5rem;
			}
			.form-row {
				padding: 0.5rem 0 1.5rem 0;
			}
			fieldset {
				margin-bottom: 1rem;
			}
		}
		.qt-onsale-icon {
			width: 46px;
			height: 46px;
			min-width: 0;
			min-height: 0;
			line-height: 46px;
			i {
				font-size: 30px;
				opacity: 1;
				top: 0;
			}
		}
		.woocommerce-MyAccount-navigation {
			display: table;
			clear: both;
			box-shadow: none;
			overflow: hidden;
			ul {
				display: block;
				clear: both;
				width: 100%;
				padding: 0;
				li {
					list-style: none;
					padding: 0;
					display: block;
					width: 100%;
					margin: 0;
					border-radius: 0;
					border: none;
					border-bottom: 1px solid rgba(100,100,100,.16);
					&:last-child {
						border: none;
					}
					a {
						padding: 16px 5px ;
						line-height: 1.4em;
						color: inherit;
						display: block;
					}
				}
			}
		}
	}
	.select2-results__option {
		color: #000;
	}

	.qt-the-content {
		.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
			padding: 0;
		}
	}


}